@model IsolateDispatchCreateViewModel
@{
	ViewData["Title"] = "Isolate Dispatch | Virus Isolates Repository";	
}
<form method="post">
	<input asp-for="DispatchIsolateId" type="hidden" />
	<input asp-for="LastModified" type="hidden" />
	<input asp-for="DispatchId" type="hidden" />
	<input asp-for="MaterialTransferAgreement" type="hidden" />
	<input asp-for="IsFieldInVisible" type="hidden" />
	<div id="wariningValidation" class="spvalidation">		
		<ul>
			@foreach (var warning in Model.WarningMessages)
			{
				<li>@warning</li>
			}
		</ul>		
	</div>
	<table>
		<thead class="sr-only"><tr><th scope="col"></th></tr></thead>
		<tr>
			<td>AV Number</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<span>@Model.Avnumber</span>
				<input type="hidden" asp-for="Avnumber" />
			</td>
		</tr>
		<tr>
			<td>No. Of Aliquots</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<span>@Model.NoOfAliquots</span>
				<input type="hidden" asp-for="NoOfAliquots" autofocus />
			</td>
		</tr>
		<tr @(Model.IsFieldInVisible ? "hidden" : "")>
			<td>Nomenclature</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<span class="w-600">@Model.Nomenclature</span>
				<input type="hidden" asp-for="Nomenclature" />
			</td>
		</tr>
		<tr>
			<td>Valid To Issue</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<input asp-for="ValidToIssue" type="checkbox" disabled />
				<input type="hidden" asp-for="ValidToIssue" />
			</td>
		</tr>
		<tr @(Model.IsFieldInVisible ? "hidden" : "")>
			<td>Viability</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<select asp-for="ViabilityId" asp-items="Model.ViabilityList" disabled  style="width: 208px;">
					<option value="">Select Viability</option>
				</select>
				<input type="hidden" name="ViabilityId" value="@Model.ViabilityId" />
			</td>
		</tr>
		<tr>
			<td>No&nbsp;Of&nbsp;Aliquots&nbsp;To&nbsp;Be&nbsp;Dispatched&nbsp;*</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<input asp-for="NoOfAliquotsToBeDispatched" type="text" class="w-200" />
				<span asp-validation-for="NoOfAliquotsToBeDispatched" class="text-danger" style="display:block;font-weight:bold;margin-top:4px;color:red;"></span>
			</td>
		</tr>
		<tr @(Model.IsFieldInVisible ? "hidden" : "")>
			<td>Passage&nbsp;Number&nbsp;*</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<input asp-for="PassageNumber" type="text" class="w-200" />
				<span asp-validation-for="PassageNumber" class="text-danger" style="display:block;font-weight:bold;margin-top:4px;color:red;"></span>
			</td>
		</tr>
		<tr>
			<td>Recipient&nbsp;Location</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<div id="recipientLocation">
					<input type="radio" asp-for="RecipientLocation" value="Internal" checked /> Internal
					<input type="radio" asp-for="RecipientLocation" value="External" /> External
				</div>
			</td>
		</tr>
		<tr>
			<td>Recipient</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<div id="recipientDropdown">
					<select asp-for="RecipientId" asp-items="Model.RecipientList" style="width: 208px;">
						<option value=""> </option>
					</select>
					<small>(Internal Recipients Only)</small>
				</div>
			</td>
		</tr>
		<tr>
			<td>Recipient&nbsp;Name</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<div id="recipientName">
					<input asp-for="RecipientName" class="w-200" maxlength="50" />
				</div>
			</td>
		</tr>
		<tr>
			<td>Recipient&nbsp;Address</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<div id="recipientAddress">
					<textarea asp-for="RecipientAddress" rows="5" class="width-400" maxlength="500"></textarea>
					<small>(External Recipients Only)</small>
				</div>
			</td>
		</tr>
		<tr>
			<td>Reason&nbsp;For&nbsp;Dispatch</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<textarea asp-for="ReasonForDispatch" class="width-400" maxlength="50" rows="2"></textarea>
			</td>
		</tr>
		<tr>
			<td>Dispatched&nbsp;Date&nbsp;*</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>				
				<input asp-for="DispatchedDate" />
				@* <img src="~/Images/calendar.png" alt="calender" width="15px" height="18px" /> *@
				<span asp-validation-for="DispatchedDate" class="text-danger" style="display:block;font-weight:bold;margin-top:4px;color:red;"></span>
			</td>
		</tr>
		<tr>
			<td>Dispatched&nbsp;By</td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<select asp-for="DispatchedById" asp-items="Model.DispatchedByList" class="w-200">
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align: right;">
				<button id="btnSubmit" type="submit" asp-action="Create" asp-controller="IsolateDispatch" class="btn-as-link" disabled="@(Model.IsDispatchDisabled ? "disabled" : null)">Save</button>

				<img src="~/images/spacer.gif" width="10" height="5" alt="" />
				<input type="hidden" asp-for="@Model.Source" />
				<button id="btnCancel" type="submit" asp-action="CancelAction" asp-controller="IsolateDispatch" class="btn-as-link">Cancel</button>				
			</td>
		</tr>
	</table>
	<div id="pnlValidation" asp-validation-summary="ModelOnly" class="spvalidation">
		<span id="lblValidationMessage" class="validation"></span>
	</div>
</form>
@section Scripts {
	<script>
		document.getElementById("btnSubmit").addEventListener("click", function (e) {
			debugger;
			const isMTA = document.getElementById("MaterialTransferAgreement").value.trim();
			if (isMTA === "True") {
				let confirmDispatch = confirm("Please confirm that the MTA is not violated by this action.");
				 if (confirmDispatch) {
					// Proceed with dispatch
				 } else {
					e.preventDefault();
				 }				
			}
		});

		$(document).ready(function () {
			$('#NoOfAliquotsToBeDispatched').focus();

			function toggleRecipientDropdown() {
				const selectedLocation = $("input[name='RecipientLocation']:checked").val();
				const recipientSelect = $("select[name='RecipientId']");
				const recipientAddress = $("textarea[name='RecipientAddress']");

				if (selectedLocation === "External") {
					recipientSelect.prop("disabled", true);
					recipientSelect.prop("selectedIndex", 0);
					recipientAddress.prop("disabled", false);
				} else {
					recipientSelect.prop("disabled", false);
					recipientAddress.prop("disabled", true);
					recipientAddress.val("");
				}
			}

			toggleRecipientDropdown();

			$("input[name='RecipientLocation']").change(function () {
				toggleRecipientDropdown();
			});			
		});
	</script>
}