@using Apha.VIR.Web.Controllers
@using System.Globalization
@model IsolateDispatchEditViewModel
@{
    ViewData["Title"] = "Edit Isolate Dispatch History | Virus Isolates Repository";
}
<form asp-action="Edit" asp-controller="IsolateDispatch" method="post">
    <input asp-for="DispatchIsolateId" type="hidden" />
    <input asp-for="LastModified" type="hidden" />
    <input asp-for="DispatchId" type="hidden" />
    <input asp-for="IsFieldInVisible" type="hidden" />
    <table>
        <thead class="sr-only"><tr><th scope="col"></th></tr></thead>
        <tr>
            <td>AV Number</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <span>@Model.Avnumber</span>
                <input type="hidden" asp-for="Avnumber" />
            </td>
        </tr>
        <tr>
            <td>No. Of Aliquots</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <span>@Model.NoOfAliquots</span>
                <input type="hidden" asp-for="NoOfAliquots" autofocus />
            </td>
        </tr>
        <tr hidden="@(Model.IsFieldInVisible ? "true" : "false")">
            <td>Nomenclature</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <span class="w-600">@Model.Nomenclature</span>
                <input type="hidden" asp-for="Nomenclature" />
            </td>
        </tr>
        <tr>
            <td>Valid To Issue</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <input asp-for="ValidToIssue" type="checkbox" disabled />
                <input type="hidden" asp-for="ValidToIssue" />
            </td>
        </tr>
        <tr hidden="@(Model.IsFieldInVisible ? "true" : "false")">
            <td>Viability</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <select asp-for="ViabilityId" asp-items="Model.ViabilityList" disabled class="width-208">
                    <option value="">Select Viability</option>
                </select>
                <input type="hidden" name="ViabilityId" value="@Model.ViabilityId" />
            </td>
        </tr>
        <tr>
            <td>No&nbsp;Of&nbsp;Aliquots&nbsp;To&nbsp;Be&nbsp;Dispatched&nbsp;*</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <input asp-for="NoOfAliquotsToBeDispatched" type="text" class="w-200" />
                <span asp-validation-for="NoOfAliquotsToBeDispatched" class="text-danger dispatchValidation_text"></span>
            </td>
        </tr>
        <tr hidden="@(Model.IsFieldInVisible ? "true" : "false")">
            <td>Passage&nbsp;Number&nbsp;*</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <input asp-for="PassageNumber" type="text" class="w-200" />
                <span asp-validation-for="PassageNumber" class="text-danger dispatchValidation_text"></span>
            </td>
        </tr>
        <tr>
            <td>Recipient&nbsp;Location</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <div id="recipientLocation">
                    <input type="radio" asp-for="RecipientLocation" value="Internal" /> Internal
                    <input type="radio" asp-for="RecipientLocation" value="External" /> External
                </div>
            </td>
        </tr>
        <tr>
            <td>Recipient</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <div id="recipientDropdown">
                    <select asp-for="RecipientId" asp-items="Model.RecipientList" class="width-208">
                        <option value=""> </option>
                    </select>
                    <small>(Internal Recipients Only)</small>
                </div>
            </td>
        </tr>
        <tr>
            <td>Recipient&nbsp;Name</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <div id="recipientName">
                    <input asp-for="RecipientName" class="w-200" maxlength="50" />
                </div>
            </td>
        </tr>
        <tr>
            <td>Recipient&nbsp;Address</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <div id="recipientAddress">
                    <textarea asp-for="RecipientAddress" rows="5" class="width-400" maxlength="500"></textarea>
                    <small>(External Recipients Only)</small>
                </div>
            </td>
        </tr>
        <tr>
            <td>Reason&nbsp;For&nbsp;Dispatch</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <textarea asp-for="ReasonForDispatch" class="width-400" maxlength="50" rows="2"></textarea>
            </td>
        </tr>
        <tr>
            <td>Dispatched&nbsp;Date&nbsp;*</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>          
                <input asp-for="DispatchedDate" />         
               
                <span asp-validation-for="DispatchedDate" class="text-danger dispatchValidation_text"></span>
            </td>
        </tr>
        <tr>
            <td>Dispatched&nbsp;By</td>
            <td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
            <td>
                <select asp-for="DispatchedById" asp-items="Model.DispatchedByList" class="w-200">
                    <option value="">Select Staff</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right;">               
                <button type="submit" class="btn btn-link btn-linkColor" >Save</button>

                <img src="~/images/spacer.gif" width="10" height="5" alt="" />
                <a asp-action="History" asp-controller="IsolateDispatch" asp-route-AVNumber="@Model.Avnumber" asp-route-IsolateId="@Model.DispatchIsolateId" class="btn btn-secondary">Cancel</a>
            </td>
        </tr>
    </table>
</form>
<div id="validationSummary" class="text-danger" style="display:none;">
    <p class=" text-danger fw-bold">There are validation messages requiring your attention.</p>
    <div asp-validation-summary="All"></div>
    <span id="dispatchedDateError" class="dispatchValidation_text"></span>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            function toggleRecipientDropdown() {
                const selectedLocation = $("input[name='RecipientLocation']:checked").val();
                const recipientSelect = $("select[name='RecipientId']");
                const recipientAddress = $("textarea[name='RecipientAddress']");

                if (selectedLocation === "External") {
                    recipientSelect.prop("disabled", true);
                    recipientSelect.prop("selectedIndex", 0);
                    recipientAddress.prop("disabled", false);
                } else {
                    recipientSelect.prop("disabled", false);
                    recipientAddress.prop("disabled", true);
                    recipientAddress.val("");
                }
            }

            toggleRecipientDropdown();

            $("input[name='RecipientLocation']").change(function () {
                toggleRecipientDropdown();
            });


            $("form").on("submit", function (e) {
                var dispatchedDate = $("input[name='DispatchedDate']").val();
                var today = new Date();
                today.setHours(0,0,0,0);
                var dispatched = new Date(dispatchedDate);
                dispatched.setHours(0,0,0,0);

                if (dispatched > today) {
                    $("#dispatchedDateError")
                        .text("- Dispatched Date cannot be in the future.")
                        .show();
                    $("#validationSummary").show();
                    e.preventDefault();
                } else {
                    $("#dispatchedDateError").hide();
                }
            });
        });
    </script>
}
