@model SearchRepositoryViewModel
@{
	ViewData["Title"] = "SearchRepository";
}
<form asp-action="Search" method="post">
	<input type="hidden" name="IsNewSearch" value="true" />
	<div class="search-repository-container">
		<table>
			<thead><tr><th></th><th></th></tr></thead>
			<tbody>
				<tr>
					<td>
						<div class="d-flex justify-content-between">
							<label asp-for="AVNumber" class="label-style">AV Number</label>
							<input id="txtAVNumber" asp-for="AVNumber" class="textInput" tabindex="1" />
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<label asp-for="Group" class="ms-5 label-style">Group</label>
							<select id="ddlGroup" asp-for="Group" asp-items="Model.HostSpecyList" tabindex="2" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td class="">
						<div class="d-flex justify-content-between">
							<label asp-for="VirusFamily" class="label-style">Virus Family</label>
							<select id="ddlVirusFamily" asp-for="VirusFamily" asp-items="Model.VirusFamilyList" tabindex="3" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<label asp-for="Species" class="ms-5 label-style">Species</label>
							<select id="ddlSpecies" asp-for="Species" asp-items="Model.HostBreedList" tabindex="4" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td class="">
						<div class="d-flex justify-content-between">
							<label asp-for="VirusType" class="label-style">Virus Type</label>
							<select id="ddlVirusType" asp-for="VirusType" asp-items="Model.VirusTypeList" tabindex="5" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<label asp-for="CountryOfOrigin" class="ms-5 label-style">Country Of Origin</label>
							<select id="ddlCountry" asp-for="CountryOfOrigin" asp-items="Model.CountryList" tabindex="6" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="d-flex justify-content-between">
							<label class="label-style">Virus Characteristics (you can specify up to three)</label>
							<partial name="_CharacteristicSearchControl" for="@Model.CharacteristicSearch[0]" />
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<label asp-for="HostPurpose" class="ms-5 label-style"> HostPurpose</label>

							<select id="ddlHostPurpose" asp-for="HostPurpose" asp-items="Model.HostPurposeList" tabindex="8" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="d-flex justify-content-between">
							<span class="label-style"></span>
							<partial name="_CharacteristicSearchControl" for="@Model.CharacteristicSearch[1]" />
						</div>
					</td>
					<td class="">
						<div class="d-flex justify-content-between">
							<label asp-for="SampleType" class=" ms-5 label-style">Sample Type</label>

							<select id="ddlSampleType" asp-for="SampleType" asp-items="Model.SampleTypeList" tabindex="9" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="d-flex justify-content-between">
							<span class="label-style"></span>
							<partial name="_CharacteristicSearchControl" for="@Model.CharacteristicSearch[2]" />
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-start">
							<span class=" ms-5  word-break"><label asp-for="YearOfIsolation">Year of Isolation / FTA Absorption &nbsp;&nbsp;</label></span>

							<span>
								<select id="ddlYearOfIsolation" asp-for="YearOfIsolation" asp-items="Model.YearsList" tabindex="11" class=" select-dropdown">
									<option value="0"></option>
								</select>
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<div class="d-flex flex-row justify-content-start ">
							<span class="ms-5 word-break"><label asp-for="YearOfSubmissionRecieved">Year Submission Received &nbsp;&nbsp;</label></span>

							<span>
								<select id="ddlYearOfSubmissionRecieved" asp-for="YearOfSubmissionRecieved" asp-items="Model.YearsList" tabindex="13" class="select-dropdown">
									<option value="0"></option>
								</select>
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<table class="mt-4">
							<thead><tr><th></th><th></th></tr></thead>
							<tbody>
								<tr>
									<td>
										<div>
											<div class="label-style"><label>Created Date</label></div>
											<div>
												From
												<input type="date" asp-for="CreatedFromDate" tabindex="14" />
												<img src="~/Images/calendar.png" alt="calender" width="15px" height="18px" />
											</div>
											<div>
												To
												<input type="date" asp-for="CreatedToDate" tabindex="15" />
												<img src="~/Images/calendar.png" alt="calender" width="15px" height="18px" />
											</div>
										</div>
									</td>
									<td>
										<div>
											<div class="ms-5 label-style"><label>Recieved Date</label></div>
											<div>
												From
												<input type="date" asp-for="ReceivedFromDate" tabindex="16" />
												<img src="~/Images/calendar.png" alt="calender" width="15px" height="18px" />
											</div>
											<div>
												To
												<input type="date" asp-for="ReceivedToDate" tabindex="17" />
												<img src="~/Images/calendar.png" alt="calender" width="15px" height="18px" />
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<div class=" d-flex justify-content-end mt-5">
			@* <a id="searchRepoLinkSearch" class="sp-button">Search</a> *@
			<button type="submit" class="btn-as-link">Search</button>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			@* <a id="searchRepoClearSearch" class="sp-button" href="@Url.Action(null, null)">Clear Search</a> *@
			<button id="searchRepoClearSearch" type="button" class="btn-as-link" onclick="ClearSearchFilter()">Clear Search</button>
		</div>
		<div>
			<a id="searchRepolinkExport" href="@Url.Action("ExportToExcel", "SearchRepository")">Export to Excel</a>
			&nbsp;
		</div>
		<div id="pnlValidation" asp-validation-summary="All" class="spvalidation">
			<span id="lblValidationMessage" class="validation"></span>
		</div>
	</div>
</form>
<div id="gridIsolateResult" class="searchRepo-grid-table ">
	<partial name="_IsolateSearchResults" for="@Model.IsolateSearchGird" />
</div>
@section Scripts {
	<script src="~/js/searchRepository.js"></script>
}