@model SearchRepositoryViewModel
@{
	ViewData["Title"] = "SearchRepository";
}
<form asp-action="Search" method="post">
	<input type="hidden" name="IsNewSearch" value="true" />
	<div class="search-repository-container">
		<table>
			<thead><tr><th></th><th></th></tr></thead>
			<tbody>
				<tr>
					<td>
						<div class="d-flex justify-content-between">
							<span asp-for="AVNumber" class="label-style">AV Number</span>
							<input id="txtAVNumber" asp-for="AVNumber" class="textInput width-335" title="AV000000-00, PD0000-00, SI000000-00 or BN000000-00" />
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<span asp-for="Group" class="ms-5 label-styleRight">Group</span>
							<select id="ddlGroup" asp-for="Group" asp-items="Model.HostSpecyList" class="select-dropdown min-width343">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td class="">
						<div class="d-flex justify-content-between">
							<span asp-for="VirusFamily" class="label-style">Virus Family</span>
							<select id="ddlVirusFamily" asp-for="VirusFamily" asp-items="Model.VirusFamilyList" class="select-dropdown width-343">
								<option value=""></option>
							</select>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<span asp-for="Species" class="ms-5 label-styleRight">Species</span>
							<select id="ddlSpecies" asp-for="Species" asp-items="Model.HostBreedList" class="select-dropdown width-343">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td class="">
						<div class="d-flex justify-content-between">
							<span asp-for="VirusType" class="label-style">Virus Type</span>
							<select id="ddlVirusType" asp-for="VirusType" asp-items="Model.VirusTypeList" class="select-dropdown width-343">
								<option value=""></option>
							</select>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<span asp-for="CountryOfOrigin" class="ms-5 label-styleRight">Country Of Origin</span>
							<select id="ddlCountry" asp-for="CountryOfOrigin" asp-items="Model.CountryList" class="select-dropdown width-343">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						@if (Model?.CharacteristicSearch != null && Model.CharacteristicSearch.Count > 0)
						{
							<div class="d-flex justify-content-between">
								<span class="label-style">Virus Characteristics
									<br /><span style="font-size:8pt"> (you can specify up to three) </span>
								</span>

								<partial name="_CharacteristicSearchControl" for="@Model.CharacteristicSearch[0]" />
							</div>
						}
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<span asp-for="HostPurpose" class="ms-5 label-styleRight"> Host Purpose</span>

							<select id="ddlHostPurpose" asp-for="HostPurpose" asp-items="Model.HostPurposeList" class="select-dropdown min-width343">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						@if (Model?.CharacteristicSearch != null && Model.CharacteristicSearch.Count > 1)
						{
							<div class="d-flex justify-content-between">
								<span class="label-style"></span>
								<partial name="_CharacteristicSearchControl" for="@Model.CharacteristicSearch[1]" />
							</div>
						}
					</td>
					<td class="">
						<div class="d-flex justify-content-between">
							<span asp-for="SampleType" class=" ms-5 label-styleRight">Sample Type</span>

							<select id="ddlSampleType" asp-for="SampleType" asp-items="Model.SampleTypeList" class="select-dropdown min-width343">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						@if (Model?.CharacteristicSearch != null && Model.CharacteristicSearch.Count > 2)
						{
						<div class="d-flex justify-content-between">
							<span class="label-style"></span>
							<partial name="_CharacteristicSearchControl" for="@Model.CharacteristicSearch[2]" />
						</div>
						}
					</td>
					<td>
						<div class="d-flex justify-content-start">
							<span class=" ms-5  word-break label-styleRight"><span asp-for="YearOfIsolation">Year of Isolation / FTA Absorption &nbsp;&nbsp;</span></span>

							<span>
								<select id="ddlYearOfIsolation" asp-for="YearOfIsolation" asp-items="Model.YearsList" class="width-110 select-dropdown">
									<option value="0"></option>
								</select>
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<div class="d-flex flex-row justify-content-start ">
							<span class="ms-5 word-break label-styleRight"><span asp-for="YearOfSubmissionRecieved">Year Submission Received &nbsp;&nbsp;</span></span>

							<span>
								<select id="ddlYearOfSubmissionRecieved" asp-for="YearOfSubmissionRecieved" asp-items="Model.YearsList"  class=" width-110 select-dropdown">
									<option value="0"></option>
								</select>
							</span>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<div class="d-flex justify-content-between align-items-center">
							
							<div class="label-style"><span>Created Date</span></div>
							<div>
								<span class="me-1">From</span>
								<input type="date" asp-for="CreatedFromDate" />

							</div>
							<div>
								<span class="me-1  ms-2">To</span>

								<input type="date" asp-for="CreatedToDate" />

							</div>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between align-items-center">
							<div class="ms-5 label-style"><span>Received Date</span></div>
							<div class="d-inline-flex align-items-center">
								<span class="me-2">From</span>

								<input type="date" asp-for="ReceivedFromDate" />

							</div>
							<div class="d-inline-flex align-items-center">
								<span class="me-2  ms-2">To</span>
								<input type="date" asp-for="ReceivedToDate" />

							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class=" d-flex justify-content-end mt-5">
			@* <a id="searchRepoLinkSearch" class="sp-button">Search</a> *@
			<button type="submit" class="btnLink">Search</button>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			@* <a id="searchRepoClearSearch" class="sp-button" href="@Url.Action(null, null)">Clear Search</a> *@
			<button id="searchRepoClearSearch" type="button" class="btnLink" onclick="ClearSearchFilter()">Clear Search</button>
		</div>
		<div>			
			@if (Model.IsFilterApplied && Model.IsolateSearchGird!.IsolateSearchResults!.Any())
			{
				<a id="searchRepolinkExport" href="@Url.Action("ExportToExcel", "SearchRepository")">Export to Excel</a>
			}
			else
			{
				<a id="searchRepolinkExport">Export to Excel</a>
			}
			&nbsp;
		</div>
		<div id="pnlValidation" asp-validation-summary="All" class="spvalidation">
			<span id="lblValidationMessage" class="validation"></span>
		</div>
	</div>
</form>
<div id="gridIsolateResult">
	<partial name="_IsolateSearchResults" for="@Model.IsolateSearchGird" />
	@if (Model.IsFilterApplied && !Model.IsolateSearchGird!.IsolateSearchResults!.Any())
	{
		<div style="border: 1px solid gray; padding: 1px; display: inline-block;">
			No Results to Display.
		</div>
	}
</div>
@section Scripts {
	<script src="~/js/searchRepository.js"></script>
}