@model SearchRepositoryViewModel
@{
	ViewData["Title"] = "SearchRepository";
}
<form asp-action="Search" method="post">
	<input type="hidden" name="IsNewSearch" value="true" />
	<div class="search-repository-container">
		<table>
			<thead><tr><th></th><th></th></tr></thead>
			<tbody>
				<tr>
					<td>
						<div class="d-flex justify-content-between">
							<label for="AVNumber" class="label-style">AV Number</label>
							<input id="txtAVNumber" asp-for="AVNumber" class="textInput" />
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<label for="Group" class="ms-5 label-style">Group</label>
							<select id="ddlGroup" asp-for="Group" asp-items="Model.HostSpecyList" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td class="">
						<div class="d-flex justify-content-between">
							<label for="VirusFamily" class="label-style">Virus Family</label>
							<select id="ddlVirusFamily" asp-for="VirusFamily" asp-items="Model.VirusFamilyList" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<label for="Species" class="ms-5 label-style">Species</label>
							<select id="ddlSpecies" asp-for="Species" asp-items="Model.HostBreedList" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td class="">
						<div class="d-flex justify-content-between">
							<label for="VirusType" class="label-style">Virus Type</label>
							<select id="ddlVirusType" asp-for="VirusType" asp-items="Model.VirusTypeList" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<label for="CountryOfOrigin" class="ms-5 label-style">Country Of Origin</label>
							<select id="ddlCountry" asp-for="CountryOfOrigin" asp-items="Model.CountryList" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="d-flex justify-content-between">
							<span class="label-style">Virus Characteristics (you can specify up to three)</span>
							<partial name="_CharacteristicSearchControl" for="@Model.CharacteristicSearch![0]" />
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-between">
							<label for="HostPurpose" class="ms-5 label-style"> HostPurpose</label>

							<select id="ddlHostPurpose" asp-for="HostPurpose" asp-items="Model.HostPurposeList" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="d-flex justify-content-between">
							<span class="label-style"></span>
							<partial name="_CharacteristicSearchControl" for="@Model.CharacteristicSearch![1]" />
						</div>
					</td>
					<td class="">
						<div class="d-flex justify-content-between">
							<label for="SampleType" class=" ms-5 label-style">Sample Type</label>

							<select id="ddlSampleType" asp-for="SampleType" asp-items="Model.SampleTypeList" class="select-dropdown">
								<option value=""></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="d-flex justify-content-between">
							<span class="label-style"></span>
							<partial name="_CharacteristicSearchControl" for="@Model.CharacteristicSearch![2]" />
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-start">
							<span class=" ms-5  word-break"><label for="YearOfIsolation">Year of Isolation / FTA Absorption &nbsp;&nbsp;</label></span>

							<span>
								<select id="ddlYearOfIsolation" asp-for="YearOfIsolation" asp-items="Model.YearsList" class="width-110 select-dropdown">
									<option value="0"></option>
								</select>
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<div class="d-flex flex-row justify-content-start ">
							<span class="ms-5 word-break"><label for="YearOfSubmissionRecieved">Year Submission Received &nbsp;&nbsp;</label></span>

							<span>
								<select id="ddlYearOfSubmissionRecieved" asp-for="YearOfSubmissionRecieved" asp-items="Model.YearsList" class=" width-110 select-dropdown">
									<option value="0"></option>
								</select>
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<table class="mt-4">
							<thead><tr><th></th><th></th></tr></thead>
							<tbody>
								<tr>
									<td>
										<div>
											<div class="label-style"><span>Created Date</span></div>
											<div>
												<span class="me-1">From</span>
												<input type="date" asp-for="CreatedFromDate" />
												
											</div>
											<div>
												<span class="me-1  ms-2">To</span>
												
												<input type="date" asp-for="CreatedToDate" />
												
											</div>
										</div>
									</td>
									<td>
										<div>
											<div class="ms-5 label-style"><span>Received Date</span></div>
											<div>
												<span class="me-1">From</span>
												
												<input type="date" asp-for="ReceivedFromDate" />
												
											</div>
											<div>
												<span class="me-1  ms-2">To</span>
												<input type="date" asp-for="ReceivedToDate" />
												
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<div class=" d-flex justify-content-end mt-5">			
			<button type="submit" class="btn-as-link">Search</button>
			&nbsp;&nbsp;|&nbsp;&nbsp;			
			<button id="searchRepoClearSearch" type="button" class="btn-as-link" onclick="ClearSearchFilter()">Clear Search</button>
		</div>
		<div>
			@if (Model.IsFilterApplied && Model.IsolateSearchGird!.IsolateSearchResults!.Any())
			{				
				<a id="searchRepolinkExport" href="@Url.Action("ExportToExcel", "SearchRepository")">Export to Excel</a>
			}
			else
			{
				<a id="searchRepolinkExport">Export to Excel</a>
			}			
			&nbsp;
		</div>
		<div id="pnlValidation" asp-validation-summary="All" class="spvalidation">
			<span id="lblValidationMessage" class="validation"></span>
		</div>
	</div>
</form>
<div id="gridIsolateResult" class="searchRepo-grid-table ">
	<partial name="_IsolateSearchResults" for="@Model.IsolateSearchGird" />
	@if (Model.IsFilterApplied && !Model.IsolateSearchGird!.IsolateSearchResults!.Any())
	{
		<div style="border: 1px solid gray; padding: 1px; display: inline-block;">
			No Results to Display.
		</div>
	}
</div>
@section Scripts {
	<script src="~/js/searchRepository.js"></script>
}