@model IsolateDetailsViewModel
@{
	ViewData["Title"] = "View Isolate Details | Virus Isolates Repository";
}
<div class="isolate-details">

	<div class="isolatedetailsblock_Left">
		<h3>Isolate Details</h3>



		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">AVNumber</span>
				<span>@Model.IsolateDetails!.Avnumber</span>
				
			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Nomenclature
				</span>
				<span>@Model.IsolateDetails.Nomenclature</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">	Dispatch Warning</span>

					@if ((Model.IsolateDetails.MaterialTransferAgreement || Model.IsolateDetails.IsMixedIsolate) || (!(Model.IsolateDetails.ValidToIssue)))
					{
						<span id="lblDispatchWarning" disabled="disabled" title="One or more of the following is true: MTA exists, Is a Mixed Isolate, Is not Valid To Issue" class="yes-label">
							Yes
						</span>
					}
					else
					{
						<span id="lblDispatchWarning" disabled="disabled" title="One or more of the following is true: MTA exists, Is a Mixed Isolate, Is not Valid To Issue" class="no-label">
							No
						</span>
					}
			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Mixed Isolate
				</span>
				<span>
					@(Model.IsolateDetails.IsMixedIsolate ? "Yes" : "No")
				</span>

			</div>


		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Virus Family
				</span>
				<span>
					@Model.IsolateDetails.FamilyName
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Virus Type
				</span>
				<span>
					@Model.IsolateDetails.TypeName
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Host Purpose
				</span>
				<span>
					@Model.IsolateDetails.HostPurposeName
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Sample Type
				</span>
				<span>
					@Model.IsolateDetails.SampleTypeName
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Group
				</span>
				<span>
					@Model.IsolateDetails.GroupSpeciesName
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Species
				</span>
				<span>
					@Model.IsolateDetails.BreedName
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Country Of Origin
				</span>
				<span>
					@Model.IsolateDetails.CountryOfOriginName
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Year Of Isolation
				</span>
				<span>
					@Model.IsolateDetails.YearOfIsolation
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Isolation Method
				</span>
				<span>
					@Model.IsolateDetails.IsolationMethodName
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Received Date
				</span>
				<span>
					@Model.IsolateDetails.ReceivedDate?.ToString("dd/MM/yyyy")
				</span>

			</div>
		@if (Model.IsolateDetails.IsFullViewIsolateDetails)
		{
			<div class="rowdetails">
				<span class="view-isolate-details-label isolatelabel_title">
					Freezer
				</span>
				<span>
					@Model.IsolateDetails.FreezerName
				</span>

			</div>


			<div class="rowdetails">
				<span class="view-isolate-details-label isolatelabel_title">
					Tray
				</span>
				<span>
					@Model.IsolateDetails.TrayName
				</span>

			</div>
		}
		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Well
				</span>
				<span>
					@Model.IsolateDetails.Well
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				No Of Aliquots
				</span>
				<span>
					@Model.IsolateDetails.NoOfAliquots
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Valid To Issue
				</span>
				<span>
					@(Model.IsolateDetails.ValidToIssue ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Why Not Valid To Issue
				</span>
				<span>
					@Model.IsolateDetails.WhyNotValidToIssue
				</span>

			</div>


		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Original Sample Available
				</span>
				<span>
					@(Model.IsolateDetails.OriginalSampleAvailable ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				First Viable Passage Number</span>
				<span>
					@Model.IsolateDetails.FirstViablePassageNumber
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Antiserum Produced
				</span>
				<span>
					@(Model.IsolateDetails.AntiserumProduced ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Antigen Produced
				</span>
				<span>
					@(Model.IsolateDetails.AntigenProduced ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Phylogenetic Analysis
				</span>
				<span>
					@Model.IsolateDetails.PhylogeneticAnalysis
				</span>

			</div>


		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Phylogenetic File
				</span>
				<span>
					@Model.IsolateDetails.PhylogeneticFileName
					@if (!string.IsNullOrEmpty(Model.IsolateDetails.PhylogeneticFileName))
					{
						<a href="@Url.Action("OpenPhylogeneticFile", "Isolate", new { fileName = Model.IsolateDetails.PhylogeneticFileName })" target="_blank">Open</a>
					}
				</span>

			</div>


		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				MTA
				</span>
				<span>
					@(Model.IsolateDetails.MaterialTransferAgreement ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				MTA Location
				</span>
				<span>
					@Model.IsolateDetails.Mtalocation
				</span>

			</div>




		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Sender Reference Number
				</span>
				<span>
					@Model.IsolateDetails.SenderReferenceNumber
				</span>

			</div>


		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				SMS Reference Number
				</span>
				<span>
					@Model.IsolateDetails.SmsreferenceNumber
				</span>

			</div>


		<div class="rowdetails">
			<span class="view-isolate-details-label isolatelabel_title">
				Comment
				</span>
				<span>
					<textarea readonly rows="10" cols="45">@Model.IsolateDetails.Comment</textarea>
				</span>

			</div>

		

	</div>
	<div class="isolatedetailsblock_Right">
		<a asp-action="Search" asp-controller="SearchRepository">Back to Search Results</a>
		<h3 class="view-isolate-header mt-3">Viability Check Information</h3>
		@if (Model.IsolateViabilityDetails.Any())
		{
			<div class=" mt-1">
				<table class="VIRtable">
					<thead>
						<tr>
							<th>Viability Status</th>
							<th>Date Checked</th>
							<th>Checked By</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var check in Model.IsolateViabilityDetails)
						{
							<tr>
								<td>@check.ViabilityStatus</td>
								<td>@check.DateChecked.ToString("d")</td>
								<td>@check.CheckedByName</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			@if (Model.IsolateDetails.IsEditHistory)
			{
				<a asp-action="History" asp-controller="IsolateViability" asp-route-AVNumber="@Model.IsolateDetails.Avnumber" asp-route-Isolate="@Model.IsolateDetails.IsolateId">Edit Viability History</a>
			}
		}
		else
		{
			<p>No Viability Check Information found</p>
		}

		<h3 class="view-isolate-header mt-3">Dispatch Information</h3>

		@if (Model.IsolateDispatchDetails.Any())
		{
			<div class=" mt-1">
				<table class="VIRtable">
					<thead>
						<tr>
							<th>Recipient Name</th>
							<th>Recipient Address</th>
							<th>Reason</th>
							<th>Number Of Aliquots</th>
							<th>Passage Number</th>
							<th>Dispatched By</th>
							<th>Dispatched Date</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var dispatch in Model.IsolateDispatchDetails)
						{
							<tr>
								<td>@dispatch.RecipientName</td>
								<td>@dispatch.RecipientAddress</td>
								<td>@dispatch.ReasonForDispatch</td>
								<td>@dispatch.NoOfAliquotsToBeDispatched</td>
								<td>@dispatch.PassageNumber</td>
								<td>@dispatch.DispatchedByName</td>
								<td>@dispatch.DispatchedDate.ToString("d")</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			@if (Model.IsolateDetails.IsEditHistory)
			{
				<a asp-action="History" asp-controller="IsolateDispatch" asp-route-AVNumber="@Model.IsolateDetails.Avnumber" asp-route-IsolateId="@Model.IsolateDetails.IsolateId">Edit Dispatch History</a>
			}
		}
		else
		{
			<p>No Dispatch Information found</p>
		}

		<h3 class="view-isolate-header mt-3">Characteristics Information</h3>

		@if (Model.IsolateCharacteristicDetails.Any())
		{
			<div class=" mt-1">
				<table class="VIRtable">
					<thead>
						<tr>
							<th>Characteristic Name</th>
							<th>Characteristic Value</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var characteristic in Model.IsolateCharacteristicDetails)
						{
							<tr>
								<td>@characteristic.CharacteristicName</td>
								<td>@characteristic.CharacteristicValue</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		else
		{
			<p>No Characteristic Information found</p>
		}



	</div>
	<div style="clear:both"></div>
</div>