@model IsolateDetailsViewModel
@{
	ViewData["Title"] = "View Isolate Details | Virus Isolates Repository";
}
<div class="isolate-details">

	<div class="isolatedetailsblock_Left">
		<h1>Isolate Details</h1>



		<div class="rowdetails">
			<label for="AVNumber" class="view-isolate-details-label">AVNumber</label>
				<span>@Model.IsolateDetails!.Avnumber</span>
				
			</div>

		<div class="rowdetails">
			<label  class="view-isolate-details-label">Nomenclature</label>
				<span>@Model.IsolateDetails.Nomenclature</span>

			</div>

		<div class="rowdetails">
			<label  class="view-isolate-details-label">	Dispatch Warning</label>
				<span>
					@if ((Model.IsolateDetails.MaterialTransferAgreement || Model.IsolateDetails.IsMixedIsolate) || (!(Model.IsolateDetails.ValidToIssue)))
					{
						<span id="lblDispatchWarning" disabled="disabled" title="One or more of the following is true: MTA exists, Is a Mixed Isolate, Is not Valid To Issue" class="yes-label">
							Yes
						</span>
					}
					else
					{
						<span id="lblDispatchWarning" disabled="disabled" title="One or more of the following is true: MTA exists, Is a Mixed Isolate, Is not Valid To Issue" class="no-label">
							No
						</span>
					}
					
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Mixed Isolate</label>
				<span>
					@(Model.IsolateDetails.IsMixedIsolate ? "Yes" : "No")
				</span>

			</div>


		<div class="rowdetails">
				<label class="view-isolate-details-label">Virus Family</label>
				<span>
					@Model.IsolateDetails.FamilyName
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Virus Type</label>
				<span>
					@Model.IsolateDetails.TypeName
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Host Purpose</label>
				<span>
					@Model.IsolateDetails.HostPurposeName
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Sample Type</label>
				<span>
					@Model.IsolateDetails.SampleTypeName
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Group</label>
				<span>
					@Model.IsolateDetails.GroupSpeciesName
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Species</label>
				<span>
					@Model.IsolateDetails.BreedName
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Country Of Origin</label>
				<span>
					@Model.IsolateDetails.CountryOfOriginName
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Year Of Isolation</label>
				<span>
					@Model.IsolateDetails.YearOfIsolation
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Isolation Method</label>
				<span>
					@Model.IsolateDetails.IsolationMethodName
				</span>

			</div>

		<div class="rowdetails">
				<label class ="view-isolate-details-label">Received Date</label>
				<span>
					@Model.IsolateDetails.ReceivedDate?.ToString("dd/MM/yyyy")
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Freezer</label>
				<span>
					@Model.IsolateDetails.FreezerName
				</span>

			</div>


		<div class="rowdetails">
				<label class="view-isolate-details-label">Tray</label>
				<span>
					@Model.IsolateDetails.TrayName
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Well</label>
				<span>
					@Model.IsolateDetails.Well
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">No Of Aliquots</label>
				<span>
					@Model.IsolateDetails.NoOfAliquots
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Valid To Issue</label>
				<span>
					@(Model.IsolateDetails.ValidToIssue ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Why Not Valid To Issue</label>
				<span>
					@Model.IsolateDetails.WhyNotValidToIssue
				</span>

			</div>


		<div class="rowdetails">
				<label class="view-isolate-details-label">Original Sample Available</label>
				<span>
					@(Model.IsolateDetails.OriginalSampleAvailable ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">First Viable Passage Number</label>
				<span>
					@Model.IsolateDetails.FirstViablePassageNumber
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Antiserum Produced</label>
				<span>
					@(Model.IsolateDetails.AntiserumProduced ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Antigen Produced</label>
				<span>
					@(Model.IsolateDetails.AntigenProduced ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">Phylogenetic Analysis</label>
				<span>
					@Model.IsolateDetails.PhylogeneticAnalysis
				</span>

			</div>


		<div class="rowdetails">
				<label class="view-isolate-details-label">Phylogenetic File</label>
				<span>
					@Model.IsolateDetails.PhylogeneticFileName
					@if (!string.IsNullOrEmpty(Model.IsolateDetails.PhylogeneticFileName))
					{
						<a href="@Url.Action("OpenPhylogeneticFile", "Isolate", new { fileName = Model.IsolateDetails.PhylogeneticFileName })" target="_blank">Open</a>
					}
				</span>

			</div>


		<div class="rowdetails">
				<label class="view-isolate-details-label">MTA</label>
				<span>
					@(Model.IsolateDetails.MaterialTransferAgreement ? "Yes" : "No")
				</span>

			</div>

		<div class="rowdetails">
				<label class="view-isolate-details-label">MTA Location</label>
				<span>
					@Model.IsolateDetails.Mtalocation
				</span>

			</div>




		<div class="rowdetails">
				<label class="view-isolate-details-label">Sender Reference Number</label>
				<span>
					@Model.IsolateDetails.SenderReferenceNumber
				</span>

			</div>


		<div class="rowdetails">
				<label class="view-isolate-details-label">SMS Reference Number</label>
				<span>
					@Model.IsolateDetails.SmsreferenceNumber
				</span>

			</div>


		<div class="rowdetails">
				<label class="view-isolate-details-label">Comment</label>
				<span>
					<textarea readonly rows="10" cols="45">@Model.IsolateDetails.Comment</textarea>
				</span>

			</div>

		

	</div>
	<div class="isolatedetailsblock_Right">
		<a asp-action="Search" asp-controller="SearchRepository">Back to Search Results</a>
		<h3 class="view-isolate-header mt-3">Viability Check Information</h3>
		@if (Model.IsolateViabilityDetails.Any())
		{
			<div class="isolate-grid-table mt-1">
				<table class="VIRtable">
					<thead>
						<tr>
							<th>Viability Status</th>
							<th>Date Checked</th>
							<th>Checked By</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var check in Model.IsolateViabilityDetails)
						{
							<tr>
								<td>@check.ViabilityStatus</td>
								<td>@check.DateChecked.ToString("d")</td>
								<td>@check.CheckedByName</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<a asp-action="History" asp-controller="IsolateViability" asp-route-AVNumber="@Model.IsolateDetails.Avnumber" asp-route-Isolate="@Model.IsolateDetails.IsolateId">Edit Viability History</a>
		}
		else
		{
			<p>No Viability Check Information found</p>
		}

		<h3 class="view-isolate-header mt-3">Dispatch Information</h3>

		@if (Model.IsolateDispatchDetails.Any())
		{
			<div class="isolate-grid-table mt-1">
				<table class="VIRtable">
					<thead>
						<tr>
							<th>Recipient Name</th>
							<th>Recipient Address</th>
							<th>Reason</th>
							<th>Number Of Aliquots</th>
							<th>Passage Number</th>
							<th>Dispatched By</th>
							<th>Dispatched Date</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var dispatch in Model.IsolateDispatchDetails)
						{
							<tr>
								<td>@dispatch.RecipientName</td>
								<td>@dispatch.RecipientAddress</td>
								<td>@dispatch.ReasonForDispatch</td>
								<td>@dispatch.NoOfAliquots</td>
								<td>@dispatch.PassageNumber</td>
								<td>@dispatch.DispatchedByName</td>
								<td>@dispatch.DispatchedDate.ToString("d")</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<a asp-action="History" asp-controller="IsolateDispatch" asp-route-AVNumber="@Model.IsolateDetails.Avnumber" asp-route-IsolateId="@Model.IsolateDetails.IsolateId">Edit Dispatch History</a>
		}
		else
		{
			<p>No Dispatch Information found</p>
		}

		<h3 class="view-isolate-header mt-3">Characteristics Information</h3>

		@if (Model.IsolateCharacteristicDetails.Any())
		{
			<div class="isolate-grid-table mt-1">
				<table class="VIRtable">
					<thead>
						<tr>
							<th>Characteristic Name</th>
							<th>Characteristic Value</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var characteristic in Model.IsolateCharacteristicDetails)
						{
							<tr>
								<td>@characteristic.CharacteristicName</td>
								<td>@characteristic.CharacteristicValue</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		else
		{
			<p>No Characteristic Information found</p>
		}



	</div>
	<div style="clear:both"></div>
</div>