@using Apha.VIR.Web.Models.VirusCharacteristic
@model VirusCharacteristicListEntryModel

<!-- Edit form -->
<form asp-controller="VirusCharacteristicsListEntry" asp-action="Edit" method="post">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.VirusCharacteristicId)
    @Html.HiddenFor(m => m.LastModified)

    <div class="form-group">
        <div style="display: flex; align-items: center; margin-bottom: 4px;">
            <label for="Name" style="min-width: 100px; margin: 0; margin-right: 12px;">Name *</label>
            <input asp-for="Name" class="form-control" style="width: 200px;" />
        </div>
        <div style="margin-left: 112px; width: 200px;">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div style="margin-top: 12px; margin-left: 112px; width: 200px; display: flex; justify-content: flex-end; gap: 8px;">
            <button type="submit" class="btn btn-primary btn-as-link">Save</button>
            <a asp-action="ListEntries" asp-controller="VirusCharacteristicsListEntry" asp-route-characteristic="@Model.VirusCharacteristicId" class="btn btn-secondary">Cancel</a>
            @if (Model.Id != Guid.Empty)
            {
                <button type="button" class="btn btn-danger btn-as-link"
                        onclick="if(confirm('Please confirm that you want to delete this entry list record')) document.getElementById('deleteForm').submit();">
                    Delete
                </button>
            }
        </div>
    </div>
</form>
@if (Model.Id != Guid.Empty)
{
    <form id="deleteForm" asp-controller="VirusCharacteristicsListEntry" asp-action="Delete" method="post" style="display:none;">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="characteristic" value="@Model.VirusCharacteristicId" />
        <input type="hidden" name="lastModified" value="@Convert.ToBase64String(Model.LastModified ?? new byte[0])" />
    </form>
}