@using Apha.VIR.Web.Models.Lookup
@model LookupItemViewModel
@{
	ViewData["Title"] = "Look-up List Entry Modification | Virus Isolates Repository";
}

<form method="post">
	<input asp-for="@Model.LookupId" type="hidden" />
	<input asp-for="@Model.ShowAlternateName" type="hidden" />
	<input asp-for="@Model.ShowParent" type="hidden" />
	<input asp-for="@Model.ShowSMSRelated" type="hidden" />
	<input asp-for="@Model.IsReadOnly" type="hidden" />
	<table>
		<thead><tr><th></th><th></th><th></th></tr></thead>
		<tbody>
			<tr>
				<td><label for="Name">Name</label></td>
				<td><img src="Images\spacer.gif" width="25" height="5" alt="" /></td>
				<td>
					<input id="Name"
						   asp-for="@Model.LookupItem.Name"
						   class="form-control width-234" />
					<br><span asp-validation-for="@Model.LookupItem.Name" class="Validation"></span>
				</td>
			</tr>
			@if (Model.ShowAlternateName)
			{
				<tr class="spacer-row"><td colspan="3"></td></tr>
				<tr>
					<td><label for="AlternateName">Alternate Name</label></td>
					<td><span class="spacer"></span></td>
					<td>
						<input id="AlternateName"
							   asp-for="@Model.LookupItem.AlternateName"
							   class="form-control w-200" />
					</td>
				</tr>
			}
			@if (Model.ShowParent)
			{
				<tr class="spacer-row"><td colspan="3"></td></tr>
				<tr>
					<td><label for="ParentName">Parent</label></td>
					<td><span class="spacer"></span></td>
					<td>
						<select id="ParentName"
								asp-for="@Model.LookupItem.Parent"
								asp-items="Model.LookupParentList"
								class="form-control">
							<option value="">Please select the relevant parent for this item</option>
						</select>
					</td>
				</tr>
			}
			<tr class="spacer-row"><td colspan="3"></td></tr>
			<tr>
				<td><label for="Active">Active</label></td>
				<td><span class="spacer"></span></td>
				<td>
					<input id="Active"
						   asp-for=" @Model.LookupItem.Active"
						   type="checkbox" />
				</td>
			</tr>
			@if (Model.ShowSMSRelated)
			{
				<tr class="spacer-row"><td colspan="3"></td></tr>
				<tr>
					<td><label for="SMS">Imported from SMS?</label></td>
					<td><span class="spacer"></span></td>
					<td>
						<input id="SMS"
							   asp-for="@Model.LookupItem.Sms"
							   type="checkbox" disabled />

						<input type="hidden" asp-for="@Model.LookupItem.Sms" />
					</td>
				</tr>
				<tr class="spacer-row"><td colspan="3"></td></tr>
				<tr>
					<td><label for="Smscode">SMS Code</label></td>
					<td><span class="spacer"></span></td>
					<td>
						<input id="Smscode" class="form-control width-234"
							   asp-for="@Model.LookupItem.Smscode"
							   disabled />

						<input type="hidden" asp-for="@Model.LookupItem.Smscode" />
					</td>
				</tr>
			}
			<tr class="spacer-row"><td colspan="3"></td></tr>
			<tr>
				<td colspan="3" class="text-right">
					<button type="submit" asp-action="Create" class="btnLink me-3">Insert</button>
					<img src="Images\spacer.gif" width="10" height="5" alt="" />
					<a asp-action="LookupList" asp-route-lookupid="@Model.LookupId" class="btn btn-secondary">Cancel</a>
				</td>
			</tr>
		</tbody>
	</table>
</form>
@if (!ViewData.ModelState.IsValid)
{
	<div class="validation">
		<p>There are validation messages requiring your attention.</p>
		<div asp-validation-summary="All" class="validation"></div>
	</div>
}