@model IEnumerable<Apha.VIR.Web.Models.TrayRelocateIsolate>

@if (Model.Any())
{
    <table id="isolatesTable" class="IsolateRelocatetable">
        <thead>
            <tr>
                <th>AV Number</th>
                <th>Nomenclature</th>
                <th>Freezer</th>
                <th>Tray</th>
                <th>Well</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var isolate in Model)
            {
                <tr>
                    <td>@isolate.AVNumber</td>
                    <td>@isolate.Nomenclature</td>
                    <td>@isolate.FreezerName</td>
                    <td>@isolate.TrayName</td>
                    <td>@isolate.Well</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="border: 1px solid gray; padding: 5px; display: inline-block;">
        There are no isolates matching the criteria specified
    </div>
}
